@import url('https://fonts.googleapis.com/css?family=Lato');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: -1;
  margin: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html, body, input, select, button {
    font-family: Lato;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
